<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>PROFILE PAGE</h2>
<h3>KING IS IN THE BUILDING</h3>
<h3>NAME =  <%=user.name%>  </h3>
<h3> AGE =  <%=user.age%>  </h3>

</body>
</html>